/* -----------------index--------------------- */
/* 首屏 */
.index-banner{height: 604px;background: url(../Img/index-banner.png) center top no-repeat;clear: both;}
.index-banner img{width: 826px;margin: 0 auto;display: block;}
/* 一屏 */
.model-2{background: #f1f1f1 url(../Img/index2-ban.png) center 650px no-repeat;height: 806px;padding-bottom: 300px;}
.model-2 .index-2{background: url(../Img/index2-1.png) right 140px no-repeat;height: 100%;}
.left-text{float: left;width: 606px;padding-top: 150px;}
.left-text h2{color: #e83428;font-size: 36px;line-height: 55px;}
.left-text p{color: #666;font-size: 24px;line-height: 38px;margin-top: 20px;width: 550px;}
/* 二屏 */
.model-3{background: #fff url(../Img/index2-ban.png) center 650px no-repeat;height: 806px;border-radius: 300px 0 0 0 ;position: relative;top: -300px;padding-bottom: 300px;}
.model-3 .index-3{background: url(../Img/index3-1.png) left 140px no-repeat;height: 100%;}
.right-text{float: right;width: 578px;padding-top: 240px;}
.right-text h2{color: #e83428;font-size: 36px;line-height: 55px;}
.right-text p{color: #666;font-size: 24px;line-height: 38px;margin-top: 20px;width: 550px;}
/* 三屏 */
.model-4{background: #f1f1f1 url(../Img/index2-ban.png) center 650px no-repeat;height: 806px;padding-bottom: 300px;border-radius: 0 300px 0 0 ;position: relative;top: -600px;}
.model-4 .index-4{background: url(../Img/index4-1.png) right 140px no-repeat;height: 100%;}
/* 底部 */
#footer{position: relative;top: -900px;}
/* --------------------about---------------------- */
.about-banner{height: 604px;background: url(../Img/about-banner.png) center top no-repeat;clear: both;}











