@charset "UTF-8";
/**
 * @authors Du Xian (286489501@qq.com)
 * @date    2018-10-22 13:29:08
 */
html,body{height: 100%;font-family:'微软雅黑', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
body,div,img,ul,li,h1,h2,h3,header,footer,nav,p{padding: 0;margin:0;}
li{list-style: none;}
a{text-decoration: none;color: #666}
a:link{color: #666}
body{min-width: 1200px;}
.main{width: 1200px;margin: 0 auto;}
/* 头部 */
#P-header{background: #fff;height: 96px;}
#P-header::before{content: "";height:3px ;display: block;background: #e83428}
#P-header .logo{line-height: 93px;float: left; margin-right: 70px;}
#P-header .logo a{vertical-align: middle;height: 42px;}
#P-header .logo img{height: 42px;vertical-align: text-top}
nav{float: left;line-height: 93px;font-size: 18px;}
nav a{float: left;width: 127px;text-align: center}
nav a:hover{color: #fff;background: url(../Img/navShade.png) top center no-repeat}
nav a.active{color: #fff;background: url(../Img/navShade.png) top center no-repeat}
.phone-code{float: right;position: relative;width: 200px;}
.phone-code::before{content: "";background: #666;float: left;width: 1px;height:20px;margin-top: 36px; }
.phone-code p{font-size: 18px;text-align: center;line-height: 93px;color: #666}
.phone-code p img{vertical-align: text-top;padding: 0 6px;}
.phone-code:hover .code-img{display: block}
.phone-code .code-img{position: absolute;top: 58px;left: 22px; display: none}
/* 底部 */
#footer{background: #e83428;color: #fff;border-radius: 300px 0 0 0 ;}
#footer .main{border-bottom: #fff 1px solid;padding: 70px 0 40px;overflow: hidden;}
.dynamic{float: left;margin-left:170px; }
.dynamic h3{font-size: 30px;font-weight: bold;}
.dynamic h3 span{font-size: 18px; font-weight: bold;display: block;}
.dynamic .input-text{ width: 264px;background: #ef675e;border-radius:23px 23px; height: 46px;line-height: 46px; margin-top: 20px; }
.dynamic .input-text span{font-size: 16px;padding-left: 20px;float: left;width: 80px;}
.dynamic .input-text input{height: 20px;line-height: 20px;font-size: 16px;width: 144px;color: #fff;background: none;border: none;outline: none}
.dynamic .input-button{margin: 40px 0;}
.dynamic .input-button input{color: #333;font-size: 18px;text-align: center;background: #fff;width: 96px;height: 42px;border-radius: 20px;border: none;outline: none}
#footer .email{width: 600px;float: right;text-align: center;padding-top: 30px;}
#footer .email p{font-size: 20px;line-height: 30px;}
#footer .email img{padding-bottom: 20px;}
#footer .filing{text-align: center;font-size: 16px;line-height: 25px;padding:50px 0 70px}



